.figure-img:hover {
    cursor: pointer;
}

.error{
    border: solid 1px red !important;
}

.correcto{
    border: solid 1px green !important;
}

#nav {
    background-color: rgba(0, 0, 0, 80);
}

#nav a {
    color: white;
}

.bi-moon-fill {
    color: white;
}

.bi-list {
    color: white;
}

ul{
    margin-top: 1em;
    list-style: none;
}

a{
    text-decoration: none;
}

#usuarioTitle{
    color: white;
    font-size: 15px;
    margin-bottom: 0px;
}

.title{
    display: flex;
    justify-content: center;
    height: fit-content;
}


.action{
    display: flex;
    justify-content: center;
}
.userInfo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: end;
}

#logout{
    border: 1px solid white;
    border-radius: 3px;
}